<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Welcome To The OpenHub</title>
    </head>
    <link rel="stylesheet" href="../Style/landing.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2? family=Poppins:wght@100;200;300;400;600;700&display+swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <body>
        <header>
            <section class="header">
                <nav>
                    <img src="/Images/NLPLogo.png" class="logo" alt="logo">
                    <div class="links">
                        <ul>
                            <li><a href="/login">LogIn</a></li>
                            <li><a href="/signup">SignUp</a></li>
                        </ul>
                    </div>
                </nav>
            </section>
        </header>
        <section class="Landing">
            <div class="Image">
                <!-- <img src="../Images/BackgroundImage.png" 
                class="background" 
                alt="backgroundImage"> -->
            </div>
        </section>
    </body>
</html>